.nav{
    padding-left:800px;
    padding-top: 0px ;
    padding-bottom: 0px;
}
#source{
    padding-bottom: 10%;
    padding-top: 2%;
}
.carousel-inner{
    text-align-last:center;
}
#place{
    padding-top: 3%;
    padding-bottom: 0%;
}
#each{
    padding: 10px;
}
#title{
    text-align: center;
}
#service{
    padding-top: 3%;
    padding:2%;
}
#last{
    text-align: center;
}
#length{
    padding-top: 5%;
    padding-bottom: 2%;
}
#about{
    text-align: center;
    padding-top: 3%;
}
#fast{
    text-align: center;
}
.one{
    padding: 10px;
}
